*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5;font-family: sans-serif;-webkit-font-smoothing: antialiased;background:#212121;color: #ddd;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
p {text-wrap: pretty;}
h1, h2, h3, h4, h5, h6 {text-wrap: balance;}
.checkboxes {margin-bottom: 20px;}
.checkboxes label {margin-right: 10px;display: inline-block;}
table {border-collapse: collapse;width: 100%;}
th, td {border: 1px solid #aaa;padding: 8px 12px;text-align: center;}
th {background-color: #0d0d0d;}
tr:nth-child(even) td { background-color: #050505;}
.m {color: #00c8c8;font-weight: bold;}
.sharp {color: orange;font-weight: bold;}
.tabs { display: flex; cursor: pointer;}
.tab { padding: 0.5em 1em; border: 1px solid #444; border-bottom: none; }
.tab.active { background: #111; }
.tab-content { display: none; border: 1px solid #444; padding: 1em; }
.tab-content.active { display: block; }
