*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
.checkboxes {
  margin-bottom: 20px;
}
.checkboxes label {
  margin-right: 10px;
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #aaa;
  padding: 8px 12px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) td {
  background-color: #f9f9f9;
}
.m {
  color: #00c8c8;
  font-weight: bold;
}
.sharp {
  color: orange;
  font-weight: bold;
}
.tabs { display: flex; cursor: pointer;}
.tab { padding: 0.5em 1em; border: 1px solid #ccc; border-bottom: none; }
.tab.active { background: #eee; }
.tab-content { display: none; border: 1px solid #ccc; padding: 1em; }
.tab-content.active { display: block; }
