*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background:#212121;
  color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
.checkboxes {
  margin-bottom: 20px;
}
.checkboxes label {
  margin-right: 10px;
  display: inline-block;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #aaa;
  padding: 8px 12px;
  text-align: center;
}
th {background-color: #f2f2f2;}
tr:nth-child(even) td { background-color: #f9f9f9;}
.m {color: #00c8c8;font-weight: bold;}
.sharp {color: orange;font-weight: bold;}
.tabs { display: flex; cursor: pointer;}
.tab { padding: 0.5em 1em; border: 1px solid #ccc; border-bottom: none; }
.tab.active { background: #eee; }
.tab-content { display: none; border: 1px solid #ccc; padding: 1em; }
.tab-content.active { display: block; }
